<div class="col-xs-3">
<% if flash[:notice] %>
	<div class="flash">
		<%= flash[:notice] %>
	</div>
<% end %>
<% if @post.errors.any? %>
		  <div id="error_explanation">
		    <h2><%= @post.errors.count %>件のerrorが発生しました。</h2>
		    <ul>
			    <% @post.errors.full_messages.each do |message| %>
					<li><%= message %></li>
		    	<% end %>
		    </ul>
		  </div>
		<% end %>
<h2>User info</h2>
<% if @user.image.attached? %>
  <%= image_tag @user.image, size: "60x60", format: 'jpeg', class: "img-circle pull-left profile-img" %>
<% else %>
  <%= image_tag "no_image.jpg" %>
<% end %>
<table class="table">
	<tbody>
		<tr>
		  <th>name</th>
      	  <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= @user.introduction %></th>
        </tr>
	</tbody>
</table>
<div class="row">
	<p><%= link_to "", edit_user_path(@user), class: "glyphicon glyphicon-wrench pull-left btn btn-default btn-block" %>
</p>
</div>
<h2>New Post</h2>
<div class="">
	<%= form_for(@post) do |f| %>
		<div class="field row">
			<label for="post">post</label>
			<%= f.text_area :body, placeholder:"入力してください", class: "form-control body_text_area" %>
		</div>
		<%= f.file_field :images, multiple: true %>
		<%= f.submit "Create Post", class:"btn btn-primary" %>
	<% end %>
</div>
</div>

<div class="col-xs-9">
	<h1>Users</h1>
		<table class="table">
			<thead>
				<tr>
					<th>image</th>
					<th>name</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<% @users.each do |user| %>
					<tr>
						<td>
							<% if user.image.attached? %>
							  <%= image_tag user.image, size: "60x60", format: 'jpeg', class: "img-circle pull-left profile-img" %>
							<% else %>
							  <%= image_tag "no_image.jpg", size: "60x60", format: 'jpeg', class: "img-circle pull-left profile-img" %>
							<% end %>
						</td>
						<td><%= user.name %></td>
						<td><%= link_to "Show",user_path(user)%></td>
					</tr>
				<% end %>
				</tr>
			</tbody>
		</table>
	</div>