<div class="col-xs-3">
<% if flash[:notice] %>
	<div class="flash">
		<%= flash[:notice] %>
	</div>
<% end %>
<% if @post.errors.any? %>
		  <div id="error_explanation">
		    <h2><%= @post.errors.count %>件のerrorが発生しました。</h2>
		    <ul>
			    <% @post.errors.full_messages.each do |message| %>
					<li><%= message %></li>
		    	<% end %>
		    </ul>
		  </div>
		<% end %>
<h2>User info</h2>
<%= attachment_image_tag @user, :profile_image, size: "60x60", format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
<table class="table">
	<tbody>
		<tr>
		  <th>name</th>
      	  <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= @user.introduction %></th>
        </tr>
	</tbody>
</table>
<div class="row">
	<p><%= link_to "", edit_user_path(@user), class: "glyphicon glyphicon-wrench pull-left btn btn-default btn-block" %>
</p>
</div>
<h2>New Post</h2>
<div class="row">
	<%= form_for(@post) do |f| %>
		<div class="field row">
			<label for="post">post</label>
			<%= f.text_area :body, class:"form-control",　placeholder:"ボディ" %>
		</div>
		<%= f.submit "Create Post", class:"btn btn-primary" %>
	<% end %>
</div>
</div>

<div class="col-xs-9">
	<%= @tag_list.each do |list| %>
	  <span>
	     link_to list.tag_name, tag_posts_path(tag_id: list.id)
	     "(#{list.posts.count})"
	 </span>
 	<% end %>
	<h1>Posts</h1>
	<table class="table-stripend table">
		<thead>
			<tr>
				<th>post</th>
			</tr>
		</thead>
		<tbody>
			<% @posts.each do |post| %>
					<tr>
						<td>
							<%= link_to user_path(post.user_id) do %>
								<%= attachment_image_tag post.user, :profile_image, size: "60x60" ,fallback: "no_image" %>
							<% end %>
						</td>
						<td><%= link_to post.body,post_path(post) %></td>
					</tr>
				<% end %>
		</tbody>
	</table>
</div>